@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
/* font-family: 'Libre Baskerville', serif; */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;400;500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url("https://use.typekit.net/vno3ywr.css");
/* font-family: hoss-round, sans-serif;
font-weight: 600;
font-style: normal; */
.container{
  max-width: 1024px;
  margin: auto;
  min-height: 50vh;
  padding: 25px;
  /* box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19); */
}
.bg {
  background-image: linear-gradient(rgba(45, 45, 45, 0.4), rgba(45, 45, 45, 0.4)), url("/bg.png");
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 110px;
  color: #fff;
  line-height: 90px;
  text-align: center;
}
.subtitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
}
.about {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  color: #484848;
}
.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #484848;
  text-align: center;
}
.aboutUs{
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
  color: #484848;
}
.titleContainer{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img{
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: -12px;
  text-align: center;
  
}


@media only screen and (max-width: 800px) {
  .title {
    font-size: 50px;
    line-height: 40px;
  }
  .subtitle{
    font-size: 25px;
  }
  .bg{
    min-height: 40vh;
  }
  .titleContainer{
    min-height: 40vh;
  }
}